beautifulsoup4==4.12.3
chroma-hnswlib==0.7.6
chromadb==0.4.0
gitdb==4.0.11
GitPython==3.1.43
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==2.4
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
langchain==0.2.6
langchain-chroma==0.1.2
langchain-community==0.2.6
langchain-core==0.2.10
langchain-openai==0.1.13
langchain-text-splitters==0.2.2
langchainhub==0.1.14
langdetect==1.0.9
langserve==0.2.2
langsmith==0.1.82
lxml==5.2.2
openai==1.35.7
python-dotenv==1.0.1
SQLAlchemy==2.0.29
streamlit==1.37.1